<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OXG.ThingsShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OXG.ThingsShop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="https://bootswatch.com/superhero/#" role="button" aria-haspopup="true" aria-expanded="false">Привет, @User.Identity.Name!</a>
                                <div class="dropdown-menu" style="">
                                    @if (User.IsInRole("Администратор"))
                                    {
                                        <a asp-action="Index" asp-controller="Roles" class="nav-link btn btn-link text-dark dropdown-item">Управление ролями</a>
                                    }
                                    <a asp-action="Index" asp-controller="Products" class="nav-link btn btn-link text-dark dropdown-item">Управление продуктами</a>
                                    <div class="dropdown-divider"></div>
                                    <a asp-action="Logout" asp-controller="Account" class="nav-link btn btn-link text-dark dropdown-item">Выход</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link text-dark" data-toggle="modal" data-target="#exampleModal" id="registerBtn">Регистрация</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-dark" data-toggle="modal" data-target="#exampleModal" id="loginBtn">Вход</a>
                            </li>
                        }
                    </ul>

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-dismissible alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="alert-heading">!</h4>
                    <p class="mb-0">ViewBag.Message</p>
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - OXG.ThingsShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalContent">
            
        </div>
    </div>
</div>

<script>
    $('#loginBtn').bind('click', function () {
        $.get('Account/Login', function (data) {
            $('#modalContent').html(data);
        });
    });

    $('#registerBtn').bind('click', function () {
        $.get('Account/Register', function (data) {
            $('#modalContent').html(data);
        });
    });
</script>